{% if DEFAULT_PAGINATION %}
<nav class="pagination">
  <div class="nav-previous">
    {% if articles_page.has_previous() %}
    {% set num = articles_page.previous_page_number() %}
    <a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html" class="pagination-prev">&larr; Newer posts</a>
    {% else %}
    <span class="pagination-prev pagination-link--disabled">&larr; Newer posts</span>
    {% endif %}
  </div>

  <div class="pagination-count">
    {{ articles_page.number }} / {{ articles_paginator.num_pages }}
  </div>

  <div class="nav-next">
    {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="pagination-next">Older posts &rarr;</a>
    {% else %}
    <span class="pagination-next pagination-link--disabled">Older posts &rarr;</span>
    {% endif %}
  </div>
</nav>
{% endif %}
